.container { 
  background-color: #373AF5;
  margin: 0 auto;
  width: 100vw;
  height: 1282px;

}

.weather-card {
  width: 100vw;
  height: 1282px;
  background-image: url(../src/image/bg-up.png);
  background-position: top center; 
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 10;
}

.weather-card-wrapper {
  width: 100vw;
  height: 1282px;
  background-image: url(../src/image/bg-down.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: absolute;
  z-index: 10;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
 
}

@media only screen and (min-width : 768px) {
  .container {
    width: 100vw;
    height: 1504px;
  }

  .weather-card {
    width: 100vw;
    height: 1504px;
    background-image: url(../src/image/Bg.png);
    background-position: center center;
    background-size: cover;

  }

  .weather-card-wrapper {
    width: 100vw;
    height: 1504px;
    background-image: none;  
  }

  
  .footer-copyright {
    margin-top: 46px;
    margin-bottom: 16px;
  }

}


@media only screen and (min-width : 1440px) {

  .container {
    width: 100vw;
    height: 1094px;
  }

  .weather-card {
    width: 100vw;
    height: 1094px;

  }

  .weather-card-wrapper {
    width: 100vw;
    height: 1094px;

  }

  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer-copyright {
    margin-top: 180px;
    
  }

}








