.forecast-week-list-wrapper {
    overflow-x: scroll;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
  
.forecast-week-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}
  
.forecast-week-list-btn {
    display: none;
}

@media only screen and (min-width : 768px) {
    .forecast-week-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        
      }
    
      .forecast-week-list-wrapper {
        overflow-x: none;
        margin-top: 54px;
      
      }
    
      .forecast-week-list-btn {
        display: block;
        width: 10px;
        height: 17px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        cursor: pointer;
        border: none;
      }
      
      .prev_btn {
        background-image: url(../../image/arrow-prev.png);
      }
      
      .next_btn {
        background-image: url(../../image/arrow-next.png);
      }
    
}

@media only screen and (min-width : 1440px) {
    .forecast-week-list-wrapper {
        overflow-x: none;
        margin-top: 54px;
      
      }
    
}